@tailwind base;
@tailwind components;
@tailwind utilities;

html,
#root,
body {
  height: 100%;
}

textarea {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
textarea::-webkit-scrollbar {
  display: none;
}

.slick-slider,
.slick-list,
.slick-track {
  height: 100%;
}

.slick-slide > div {
  height: 100%;
}

.slick-slide > div li {
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.slick-slide > div li img {
  max-height: 100%;
  object-fit: contain !important;
}
